.newInvoice{
	.main-form{
		padding-top:30px;

		.newInvoice-dates{
			.title{
				text-align:left;
				margin:0 0 5px 0;
				line-height:1;
				font-size:16px;
			}
		}//end of:newInvoice-dates;

		.sides{
			
		}
	}//end of: main form;
}