@mixin subheaders($font-size){
	text-align:left;
	margin:0 0 2px 0;
	padding:3px 0 5px 5px;
	line-height:1;
	font-size:$font-size;
}

.newInvoice{

	.main-form{
		padding:30px 0;

		.newInvoice-dates{
			margin-bottom:75px;

			.title{
				@include subheaders(16px);
			}
		}//end of:newInvoice-dates;

		.sides{
			margin-bottom:75px;

			.title{
				@include subheaders(16px);
			}
		}// end of:sides;

		.newPos{
			position:relative;

			.title{
				@include subheaders(12px);
			}
			.remove{
				position:absolute;
				right: -20px;
			}
		}//end of: newPos;

	}//end of: main form;
}