@mixin subheaders($font-size){
	text-align:left;
	margin:0 0 2px 0;
	padding:3px 0 5px 5px;
	line-height:1;
	font-size:$font-size;
}

.newInvoice{

	.main-form{
		padding:0;

		.newInvoice-dates{
			margin-bottom:75px;

			.title{
				@include subheaders(16px);
			}
		}//end of:newInvoice-dates;

		.sides{
			margin-bottom:75px;

			.title{
				@include subheaders(16px);
			}
		}// end of:sides;

		.newPos{
			position:relative;
			width:100%;

			.title{
				@include subheaders(12px);
			}
			.remove{
				position:absolute;
				cursor:pointer;
				right: -20px;
				bottom:4px;
				width:30px;
				height:30px;
				display:flex;
				justify-content: center;
				align-items:center;
			}
		}//end of: newPos;

	}//end of: main form;
	.summary{
		margin:30px 29px 0 0;

		.buttons{

			.btn{
				margin:0 15px 15px 0;
			}
			.btn:last-child{
				margin-right:0;
			}
		}	
		.summary-row{
			border-bottom:1px solid black;
			margin:0 0 10px 0;

			.title{
				font-weight:600;
			}
		}
	}
}