body{
	background-color:#d3d3d3 !important;
}
html,
body{
	min-height:100vh;
	font-family:'Open Sans';
}

#root{
	background-color:white;
}
.App{
	min-height:100vh;
}
.text-center{
	text-align:center;
}
.bold{
	font-weight:bold;
}

.title-error{
	color:red;
}

.form-error{
	border:1px solid red !important;
}
.m-bottom-50{
	margin-bottom:50px;
}


