body{
	padding:30px;
	background-color:#d3d3d3 !important;
}
html,
body{
	min-height:100vh;
	font-family:'Open Sans';
}

#root{
	background-color:white;
}

.title-error{
	color:red;
}

.form-error{
	border:1px solid red !important;
}