.api-key-input{
	max-width:600px;

	.title{
		text-align: left;
		margin: 0 0 2px 0;
		padding: 3px 0 5px 0;
		line-height: 1;
		font-size: 16px;
	}
	.test-data{
		
	}
	.api-key-output{
		
		.holder{
			height:64px;
			margin-bottom:1rem;
		}
	}

}